.mediaViewInfo {
	--web-view-name: Add/Upload;
	--web-view-id: AddUpload;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
:root {
	--web-view-ids: AddUpload;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.AddUpload_Class {
	position: absolute;
	width: 1920px;
	height: 1448px;
	font-family: Myriad Pro;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Add/Upload;
	--web-view-id: AddUpload;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_1_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1564px;
	height: 107px;
	left: 374px;
	top: 0px;
}
.Rectangle_4_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 1448px;
	left: 0px;
	top: 0px;
}
.User_ID_02000000__Class {
	left: 49px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Edit_Profile_Class {
	left: 49px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Line_4_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 1px;
	left: 6.5px;
	top: 89.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Logout_Class {
	left: 1787px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Rectangle_5_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 869px;
}
.Group_3_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1587.033px;
	top: 904.164px;
	overflow: visible;
}
.Path_2_Class {
	fill: rgba(0,0,0,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.954px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_Class {
	fill: rgba(0,0,0,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 1541.163px;
	top: 904.164px;
	overflow: visible;
}
.Group_4_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_Class {
	fill: rgba(0,0,0,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_Class {
	left: 594px;
	top: 901px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_Class {
	fill: rgba(214,214,214,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1708.865px;
	top: 906.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_12_Class {
	fill: rgba(247,247,247,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 1545px;
	height: 458px;
	left: 375px;
	top: 307px;
}
.Group_8_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 956px;
	overflow: visible;
}
.Rectangle_5__Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3__Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2__Class {
	fill: rgba(0,0,0,1);
}
.Path_2_ {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.954px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3__Class {
	fill: rgba(0,0,0,1);
}
.Path_3_ {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5__Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4__Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4__Class {
	fill: rgba(0,0,0,1);
}
.Path_4_ {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_ba_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_bb_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_bb {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_9_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 1043px;
	overflow: visible;
}
.Rectangle_5_bd_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bd {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_be_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_bf_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_bf {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.954px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_bg_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_bg {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_bh_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_bi_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_bj_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_bj {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_bk_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_bl_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_bl {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_10_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 1130px;
	overflow: visible;
}
.Rectangle_5_bn_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bn {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_bo_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_bp_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_bp {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.955px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_bq_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_bq {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_br_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_bs_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_bt_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_bt {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.671px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_bu_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_bv_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_bv {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_16_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 406px;
	overflow: visible;
}
.Rectangle_5_bx_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bx {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_by_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_bz_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_bz {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.954px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_b_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_b {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_b_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_b_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_b_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_b {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_b_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_b_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_b {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_17_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 493px;
	overflow: visible;
}
.Rectangle_5_b_Class {
	fill: rgba(247,247,247,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_b {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_b_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_b_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_b {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.954px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_ca_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_ca {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_cb_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_cc_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_cd_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_cd {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_ce_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_cf_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_cf {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_11_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 1217px;
	overflow: visible;
}
.Rectangle_5_ch_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ch {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_ci_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_cj_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_cj {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.955px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_ck_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_ck {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_cl_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_cm_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_cn_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_cn {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.671px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_co_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_cp_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_cp {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_12_Class {
	position: absolute;
	width: 1239px;
	height: 69px;
	left: 548px;
	top: 1304px;
	overflow: visible;
}
.Rectangle_5_cr_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(214,214,214,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_cr {
	position: absolute;
	overflow: visible;
	width: 1239px;
	height: 69px;
	left: 0px;
	top: 0px;
}
.Group_3_cs_Class {
	position: absolute;
	width: 17.666px;
	height: 17.672px;
	left: 1039.033px;
	top: 25.164px;
	overflow: visible;
}
.Path_2_ct_Class {
	fill: rgba(0,0,0,1);
}
.Path_2_ct {
	overflow: visible;
	position: absolute;
	width: 16.954px;
	height: 16.955px;
	left: 0px;
	top: 0.717px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_cu_Class {
	fill: rgba(0,0,0,1);
}
.Path_3_cu {
	overflow: visible;
	position: absolute;
	width: 10.946px;
	height: 10.927px;
	left: 6.72px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_5_cv_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 993.163px;
	top: 25.164px;
	overflow: visible;
}
.Group_4_cw_Class {
	position: absolute;
	width: 17.672px;
	height: 17.672px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_4_cx_Class {
	fill: rgba(0,0,0,1);
}
.Path_4_cx {
	overflow: visible;
	position: absolute;
	width: 17.672px;
	height: 17.671px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.n_20_222_9436_cy_Class {
	left: 46px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Path_5_cz_Class {
	fill: rgba(214,214,214,1);
}
.Path_5_cz {
	overflow: visible;
	position: absolute;
	width: 28.411px;
	height: 14.874px;
	left: 1160.865px;
	top: 27.962px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_7_Class {
	fill: transparent;
	stroke: rgba(220,220,220,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1546px;
	height: 1px;
	left: 374.5px;
	top: 307.5px;
	transform: matrix(1,0,0,1,0,0);
}
.add_button_Class {
	position: absolute;
	width: 146px;
	height: 54px;
	left: 1619px;
	top: 161px;
	overflow: visible;
}
.Rectangle_6_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Add_Class {
	left: 50px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.Group_15_Class {
	position: absolute;
	width: 84.035px;
	height: 90px;
	left: 144.983px;
	top: -0.5px;
	overflow: visible;
}
.Group_14_Class {
	position: absolute;
	width: 19.853px;
	height: 27.647px;
	left: 0px;
	top: 28.914px;
	overflow: visible;
}
.Path_6_Class {
	fill: rgba(255,255,255,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 3.534px;
	height: 22.772px;
	left: 0px;
	top: 4.584px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_Class {
	fill: rgba(105,199,227,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 6.885px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_Class {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 14.88px;
	height: 19.418px;
	left: 4.973px;
	top: 8.228px;
	transform: matrix(1,0,0,1,0,0);
}
.ontact_Class {
	left: 36.035px;
	top: 33.362px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.C_Class {
	left: 21.293px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 76px;
	color: rgba(255,255,255,1);
}
.Add_Contact_Class {
	left: 49px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(105,199,227,1);
}
.add_button_dc_Class {
	position: absolute;
	width: 227px;
	height: 54px;
	left: 1560px;
	top: 618px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bill_Charge.html;
	cursor: pointer;
}
.Rectangle_6_dd_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_6_dd {
	position: absolute;
	overflow: visible;
	width: 227px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.BILL_OUT_Class {
	left: 58px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.Enter_Name__Class {
	left: 548px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Enter_Number__Class {
	left: 1129px;
	top: 187px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Rectangle_10_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 42px;
	left: 727px;
	top: 171px;
}
.Rectangle_11_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 208px;
	height: 42px;
	left: 1333px;
	top: 171px;
}
.Path_15_Class {
	fill: rgba(0,0,0,1);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.672px;
	left: 1499.967px;
	top: 431.664px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_16_Class {
	fill: rgba(0,0,0,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.672px;
	left: 1499.967px;
	top: 518.664px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_11_Class {
	fill: rgba(0,0,0,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.672px;
	left: 1499.967px;
	top: 982.114px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_17_Class {
	fill: rgba(0,0,0,1);
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.672px;
	left: 1499.967px;
	top: 904.164px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_14_Class {
	fill: rgba(0,0,0,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.671px;
	left: 1499.967px;
	top: 1156.114px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_12_Class {
	fill: rgba(0,0,0,1);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.672px;
	left: 1499.967px;
	top: 1068.214px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_13_Class {
	fill: rgba(0,0,0,1);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.671px;
	left: 1499.967px;
	top: 1242.214px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_15_dq_Class {
	fill: rgba(0,0,0,1);
}
.Path_15_dq {
	overflow: visible;
	position: absolute;
	width: 12.997px;
	height: 17.671px;
	left: 1499.967px;
	top: 1329.215px;
	transform: matrix(1,0,0,1,0,0);
}