.mediaViewInfo {
	--web-view-name: Bill_Charge;
	--web-view-id: Bill_Charge;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
:root {
	--web-view-ids: Bill_Charge;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Bill_Charge_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Myriad Pro;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Bill_Charge;
	--web-view-id: Bill_Charge;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
.Rectangle_1_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1564px;
	height: 107px;
	left: 374px;
	top: 0px;
}
.Rectangle_4_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
.User_ID_02000000__Class {
	left: 49px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Edit_Profile_Class {
	left: 49px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Line_4_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 1px;
	left: 6.5px;
	top: 89.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Logout_Class {
	left: 1787px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Rectangle_5_Class {
	fill: rgba(250,250,250,1);
	stroke: rgba(234,234,234,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 820px;
	height: 433px;
	left: 548px;
	top: 373px;
}
.Line_5_Class {
	fill: transparent;
	stroke: rgba(213,213,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 652px;
	height: 1.276px;
	left: 622.5px;
	top: 588.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_6_Class {
	fill: transparent;
	stroke: rgba(213,213,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 101px;
	left: 857px;
	top: 453px;
	transform: matrix(1,0,0,1,0,0);
}
.Obed_Atta_Class {
	left: 925px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.n_20_222_9436_Class {
	left: 925px;
	top: 513px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Phone_Class {
	left: 624px;
	top: 513px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.AMOUNT_DUE_GHC_Class {
	left: 624px;
	top: 650px;
	position: absolute;
	overflow: visible;
	width: 238px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.User_name_Class {
	left: 624px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.Line_7_Class {
	fill: transparent;
	stroke: rgba(220,220,220,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1546px;
	height: 1px;
	left: 374.5px;
	top: 232.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_15_Class {
	position: absolute;
	width: 84.035px;
	height: 90px;
	left: 144.982px;
	top: -0.5px;
	overflow: visible;
}
.Group_14_Class {
	position: absolute;
	width: 19.853px;
	height: 27.647px;
	left: 0px;
	top: 28.914px;
	overflow: visible;
}
.Path_6_Class {
	fill: rgba(255,255,255,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 3.533px;
	height: 22.772px;
	left: 0px;
	top: 4.584px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_Class {
	fill: rgba(105,199,227,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 6.885px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_Class {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 14.88px;
	height: 19.418px;
	left: 4.973px;
	top: 8.228px;
	transform: matrix(1,0,0,1,0,0);
}
.ontact_Class {
	left: 36.035px;
	top: 33.362px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.C_Class {
	left: 21.293px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 76px;
	color: rgba(255,255,255,1);
}
.Enter_Phone_number_Class {
	display: none;
	left: 548px;
	top: 157px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.BILL_CHARGE_Class {
	left: 548px;
	top: 314px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Rectangle_7_Class {
	fill: transparent;
	stroke: rgba(177,175,175,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 62px;
	left: 867px;
	top: 139px;
}
.Rectangle_8_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 63px;
	left: 925px;
	top: 632px;
}
.add_button_Class {
	position: absolute;
	width: 216px;
	height: 54px;
	left: 1072px;
	top: 851px;
	overflow: visible;
}
.Rectangle_6_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.PAY_BILL_Class {
	left: 55px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.add_button_bf_Class {
	position: absolute;
	width: 190px;
	height: 54px;
	left: 1429px;
	top: 138px;
	display: none;
	overflow: visible;
}
.Rectangle_6_bg_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_6_bg {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Generate_Class {
	left: 43px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.n_000_Class {
	left: 1127px;
	top: 638px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Add_Contact_Class {
	left: 49px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.n_200000000_Class {
	display: none;
	left: 1039px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: right;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(126,126,126,1);
	letter-spacing: 1px;
}