.mediaViewInfo {
	--web-view-name: Pay;
	--web-view-id: Pay;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
:root {
	--web-view-ids: Pay;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Pay_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Myriad Pro;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Pay;
	--web-view-id: Pay;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_1_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1564px;
	height: 107px;
	left: 374px;
	top: 0px;
}
.Rectangle_4_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
.User_ID_02000000__Class {
	left: 49px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Edit_Profile_Class {
	left: 49px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Line_4_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 1px;
	left: 6.5px;
	top: 89.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Logout_Class {
	left: 1787px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Rectangle_9_Class {
	fill: rgba(250,250,250,1);
	stroke: rgba(234,234,234,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 820px;
	height: 586px;
	left: 548px;
	top: 373px;
}
.Rectangle_5_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 820px;
	height: 198px;
	left: 548px;
	top: 373px;
}
.Line_6_Class {
	fill: transparent;
	stroke: rgba(213,213,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 105px;
	left: 857px;
	top: 639px;
	transform: matrix(1,0,0,1,0,0);
}
.Enter_your_momo_number_Class {
	left: 913px;
	top: 645px;
	position: absolute;
	overflow: visible;
	width: 218px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	color: rgba(199,199,199,1);
	letter-spacing: 1px;
}
.Select_Network_type_Class {
	left: 913px;
	top: 714px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	color: rgba(199,199,199,1);
	letter-spacing: 1px;
}
.Network_Type_Class {
	left: 624px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.AMOUNT_to_pay_GHC_Class {
	left: 624px;
	top: 457px;
	position: absolute;
	overflow: visible;
	width: 282px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.Momo_number_Class {
	left: 624px;
	top: 648px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
.Line_7_Class {
	fill: transparent;
	stroke: rgba(220,220,220,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1546px;
	height: 1px;
	left: 374.5px;
	top: 232.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_15_Class {
	position: absolute;
	width: 84.035px;
	height: 90px;
	left: 144.982px;
	top: -0.5px;
	overflow: visible;
}
.Group_14_Class {
	position: absolute;
	width: 19.853px;
	height: 27.647px;
	left: 0px;
	top: 28.914px;
	overflow: visible;
}
.Path_6_Class {
	fill: rgba(255,255,255,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 3.533px;
	height: 22.772px;
	left: 0px;
	top: 4.584px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_Class {
	fill: rgba(105,199,227,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 6.885px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_Class {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 14.88px;
	height: 19.418px;
	left: 4.973px;
	top: 8.228px;
	transform: matrix(1,0,0,1,0,0);
}
.ontact_Class {
	left: 36.035px;
	top: 33.362px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.C_Class {
	left: 21.293px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 76px;
	color: rgba(255,255,255,1);
}
.Enter_Phone_number_Class {
	display: none;
	left: 548px;
	top: 157px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,113,1);
	letter-spacing: 1px;
}
.Rectangle_7_Class {
	fill: transparent;
	stroke: rgba(177,175,175,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 62px;
	left: 867px;
	top: 139px;
}
.add_button_Class {
	position: absolute;
	width: 216px;
	height: 54px;
	left: 1061px;
	top: 803px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Receipt.html;
	cursor: pointer;
}
.Rectangle_6_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.PAY_Class {
	left: 86px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.add_button_bd_Class {
	position: absolute;
	width: 190px;
	height: 54px;
	left: 1429px;
	top: 138px;
	display: none;
	overflow: visible;
}
.Rectangle_6_be_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_6_be {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Generate_Class {
	left: 43px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.n_000_Class {
	left: 976px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
.Add_Contact_Class {
	left: 49px;
	top: 232px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.n_200000000_Class {
	display: none;
	left: 1039px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: right;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(126,126,126,1);
	letter-spacing: 1px;
}
.Path_9_Class {
	fill: rgba(112,112,112,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 26.936px;
	height: 8.96px;
	left: 1247.564px;
	top: 731px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_9_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 376px;
	height: 1px;
	left: 898.5px;
	top: 669.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_10_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 324px;
	height: 1px;
	left: 898.5px;
	top: 739px;
	transform: matrix(1,0,0,1,0,0);
}