.mediaViewInfo {
	--web-view-name: Register;
	--web-view-id: Register;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
:root {
	--web-view-ids: Register;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Register_Class {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: Myriad Pro;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Register;
	--web-view-id: Register;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
	--web-page-font: Myriad Pro;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_1_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1564px;
	height: 107px;
	left: 374px;
	top: 0px;
}
.Rectangle_2_Class {
	fill: rgba(244,244,244,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 613px;
	height: 716px;
	left: 841px;
	top: 238px;
}
.Register_o_Class {
	left: 1029px;
	top: 339px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(112,112,112,1);
}
.Register_button_Class {
	position: absolute;
	width: 332px;
	height: 79px;
	left: 986px;
	top: 801px;
	overflow: visible;
}
.Rectangle_3_Class {
	fill: rgba(105,199,227,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 79px;
	left: 0px;
	top: 0px;
}
.Register_r_Class {
	left: 117px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Login_if_you_already_have_acco_Class {
	left: 1152px;
	top: 705px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: right;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,137,255,1);
}
.Rectangle_4_Class {
	fill: rgba(12,61,75,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
.Logo_Class {
	fill: rgba(255,255,255,1);
}
.Logo {
	overflow: visible;
	position: absolute;
	width: 83.614px;
	height: 56.848px;
	left: 144.983px;
	top: 17.944px;
	transform: matrix(1,0,0,1,0,0);
}
.Name_Class {
	position: absolute;
	width: 479.5px;
	height: 30px;
	left: 912px;
	top: 458px;
	overflow: visible;
}
.Name_w_Class {
	left: 0px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Line_1_Class {
	fill: transparent;
	stroke: rgba(179,179,179,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 358px;
	height: 1px;
	left: 121.5px;
	top: 29.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Enter_your_name_Class {
	left: 122px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(190,189,189,1);
	letter-spacing: 1px;
}
.Phone_Class {
	position: absolute;
	width: 479.5px;
	height: 33px;
	left: 912px;
	top: 551px;
	overflow: visible;
}
.Phone__Class {
	left: 0px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Line_3_Class {
	fill: transparent;
	stroke: rgba(179,179,179,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 358.003px;
	height: 2px;
	left: 121.5px;
	top: 28.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Enter_your_phone_number_Class {
	left: 122px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(185,184,184,1);
	letter-spacing: 1px;
}
.Password_Class {
	position: absolute;
	width: 479.5px;
	height: 33px;
	left: 912px;
	top: 644px;
	overflow: visible;
}
.Password__Class {
	left: 0px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}
.Line_2_Class {
	fill: transparent;
	stroke: rgba(179,179,179,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 358.003px;
	height: 2px;
	left: 121.5px;
	top: 28.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Enter_your_password_Class {
	left: 122px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 26px;
	text-align: left;
	font-family: Helvetica Neue, Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(185,184,184,1);
	letter-spacing: 1px;
}