/* screen - add */

.add {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.add .rectangle-2-XnUIER {
  background-color: var(--tarawera);
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 279px;
}

.add .rectangle-1-XnUIER {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 67px;
  left: 279px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1161px;
}

.add .contact1-XnUIER {
  background-color: transparent;
  height: 68px;
  left: 411px;
  position: absolute;
  top: 349px;
  width: 935px;
}

.add .rectangle-6-opK1u4 {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 933px;
}

.add .nounexpand1369881-2-opK1u4 {
  background-color: transparent;
  height: 21px;
  left: 708px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 21px;
}

.add .nounedit857941-2-opK1u4 {
  background-color: transparent;
  height: 20px;
  left: 744px;
  mix-blend-mode: normal;
  position: absolute;
  top: 27px;
  width: 16px;
}

.add .noun-delete1123162-2-opK1u4 {
  background-color: transparent;
  height: 16px;
  left: 780px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 13px;
}

.add .contact-name-opK1u4 {
  background-color: transparent;
  height: 35px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 367px;
}

.add .contact1-DFxb5C {
  background-color: transparent;
  height: 68px;
  left: 411px;
  position: absolute;
  top: 441px;
  width: 935px;
}

.add .rectangle-6-cS1Ekt {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 933px;
}

.add .nounexpand1369881-2-cS1Ekt {
  background-color: transparent;
  height: 21px;
  left: 708px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 21px;
}

.add .nounedit857941-2-cS1Ekt {
  background-color: transparent;
  height: 20px;
  left: 744px;
  mix-blend-mode: normal;
  position: absolute;
  top: 27px;
  width: 16px;
}

.add .noun-delete1123162-2-cS1Ekt {
  background-color: transparent;
  height: 16px;
  left: 780px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 13px;
}

.add .contact-name-cS1Ekt {
  background-color: transparent;
  height: 35px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 367px;
}

.add .logout-XnUIER {
  background-color: transparent;
  height: 19px;
  left: 1282px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: auto;
}

.add .addbutton-XnUIER {
  background-color: transparent;
  cursor: pointer;
  height: 34px;
  left: 1206px;
  position: absolute;
  top: 573px;
  width: 140px;
}

.add .rectangle-4-ede341 {
  background-color: var(--viking);
  height: 34px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 138px;
}

.add .bill-out-ede341 {
  background-color: transparent;
  height: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 108px;
}

.add .line-1-XnUIER {
  background-color: transparent;
  height: 1px;
  left: 281px;
  position: absolute;
  top: 68px;
  width: 1159px;
}

.add .rectangle-7-XnUIER {
  background-color: #f5f6f7;
  height: 193px;
  left: 281px;
  mix-blend-mode: normal;
  position: absolute;
  top: 69px;
  width: 1159px;
}

.add .savebutton-XnUIER {
  background-color: transparent;
  height: 35px;
  left: 1261px;
  position: absolute;
  top: 163px;
  width: 78px;
}

.add .rectangle-4-clN9Pk {
  background-color: var(--viking);
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 76px;
}

.add .save-clN9Pk {
  background-color: transparent;
  height: 16px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 60px;
}

.add .name-XnUIER {
  background-color: transparent;
  height: 19px;
  left: 443px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 170px;
  width: auto;
}

.add .number-XnUIER {
  background-color: transparent;
  height: 19px;
  left: 846px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 170px;
  width: auto;
}

.add .line-3-XnUIER {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 279px;
}

.add .logo-XnUIER {
  background-color: transparent;
  cursor: pointer;
  height: 43px;
  left: 107px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 64px;
}

.add .user-id-000-000-0000-XnUIER {
  background-color: transparent;
  height: 45px;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 116px;
  width: 190px;
}

.add .edit-profile-XnUIER {
  background-color: transparent;
  height: 45px;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 161px;
  width: 190px;
}

.add .add-contact-XnUIER {
  background-color: transparent;
  color: var(--viking);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 45px;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 206px;
  width: 190px;
}

.add .nameinput-XnUIER {
  background-color: transparent;
  border: 0;
  height: 40px;
  left: 505px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 160px;
  width: 310px;
}

.add .numberinput-XnUIER {
  background-color: transparent;
  border: 0;
  height: 40px;
  left: 930px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 160px;
  width: 310px;
}
