:root { 
  --black: #000000;
  --silver: #c1c0c0;
  --tarawera: #0c3d4b;
  --viking: #69c7e3;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-12px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.border-1px-silver {
  border: 1px solid var(--silver);
}
